<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生管理系统</title>
    <script src="../js/vue.js"></script>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        input{
            outline: none;
            /*border: none;*/
            height: 25px;
            display: inline-block;
        }
        #app{

            width: 800px;
            /*height: 100%;*/
            margin: auto;
            background: #6fb500;
        }
        table{
            width: 100%;
            background: black;
        }
        table tr{
            background: white;
        }
        form{
            display: flex;
            justify-content: space-between;
        }
    </style>
</head>
<body>
<div id="app">
    <form v-show="isShow">
        <input type="text" placeholder="请输入序号" v-model="person.id">
        <input type="text" placeholder="请输入姓名" v-model="person.name">
        <input type="text" placeholder="请输入分数" v-model="person.score">
        <input type="submit" value="新增" @click.prevent="add">
        <input type="submit" value="查询" @click.prevent="search">
    </form>
    <table>
        <tr>
            <th>序号</th>
            <th>姓名</th>
            <th>分数</th>
            <th>时间</th>
            <th>操作</th>
        </tr>
        <tr v-for="(person,index) in persons">
            <td>
                <input type="text" v-model="person.id" :disabled="isDisabled">
            </td>
            <td>
                <input type="text" v-model="person.name" :disabled="isDisabled">
            </td>
            <td>
                <input type="text" v-model="person.score" :disabled="isDisabled">
            </td>
            <td>
                <input type="text" :value="person.time | dateFormat" disabled>
            </td>
            <td>
                <a href="#" @click.prevent="edit(index)">编辑</a>
                <a href="#" @click.prevent="del(index)">删除</a></br>
                <a href="#" @click.prevent="more">更多操作</a>
            </td>
        </tr>


    </table>
</div>
<script>
    Vue.filter("dateFormat",function (value,fmStr) {
            let date = new Date(value);
            let year = date.getFullYear()+"";
            let month = date.getMonth()+1+"";
            let day = date.getDate()+"";
            let hour = date.getHours()+"";
            let minute = date.getMinutes()+"";
            let second = date.getSeconds()+"";
            if(fmStr && fmStr==="yyyy-mm-dd")
                return `${year}-${month.padStart(2,"0")}-${day.padStart(2,"0")}`;
            else
            // padStart(2,"0")判断字符串长度是否大于2，不满足加0
                return `${year}-${month.padStart(2,"0")}-${day.padStart(2,"0")} ${hour.padStart(2,"0")}:${minute.padStart(2,"0")}:${second.padStart(2,"0")}`;
    });
    let vm = new Vue({
        el : "#app",
        data : {
            isDisabled: true,
            isShow:false,
            persons : [{
                id : "1",
                name : "chen",
                score : "99",
                time: Date.now(),
            },
                {
                    id : "2",
                    name : "li",
                    score : "88",
                    time: Date.now(),
                },
                {
                    id : "3",
                    name : "nong",
                    score : "77",
                    time: Date.now(),
                }],
            person :[{
                id :"",
                name :"",
                score : ""
            }]
        },
        methods:{
             edit (index) {
                 console.log(index);
                 this.isDisabled = !this.isDisabled;
             },
            more() {
                this.isShow = !this.isShow;
            },
            del(index) {
                this.persons.splice(index,1);//删除一个元素
            },
            add(){
                 this.person.time = Date.now();
                 this.persons.push(this.person);
                 this.person =[{
                     id :"",
                     name :"",
                     score : ""
                 }];
            },
            search(){
                 let newPersons = this.persons.filter((person)=>{
                     if(person.score === this.person.score){
                         return true;
                     }
                 });
                 this.persons = newPersons;
            }
        },
    });
</script>
</body>
</html>