<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表动画</title>
    <script src="../js/vue.js"></script>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        .v-enter{
        opacity: 0;
        }
        .v-enter-active{
            transition: all 3s;
        }
        .v-enter-to{
            opacity: 1;
        }
    </style>
</head>
<body>
<div id="app">
    <form>
        <input type="text" v-model="name">
        <input type="submit" value="添加" @click.prevent="add">
    </form>
    <!--tag="ul"把创建的li加到ul中-->
    <transition-group appear tag="ul">
        <li v-for="(person,index) in persons" :key="person.id" @click.prevent="del(index)"><!--:key="person.id"绑定id-->
            <input type="checkbox">
            <span>{{index}}---{{person.name}}</span>
        </li>
    </transition-group>
</div>
<script>
    let vue = new Vue({
        el:"#app",
        data: {
            persons: [{
                name: "chen",
                id: 1
            },{
                name: "hello",
                id: 2
            },{
                name: "liu",
                id: 3
            }],
            name:"",
            id:3,
        },
        methods : {
            add(){
                this.id++;
                let newPerson = {name : this.name,id:this.id};//最后一个人的id+1为新生成的id
                // this.persons.push(newPerson);
                this.persons.unshift(newPerson);
                this.name="";
            },
            del(index){
                this.persons.splice(index,1);
            }
        }
    });
</script>
</body>
</html>